body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: rgb(173, 224, 247);
}

.Weather {
  text-align: left;
  color: #666363;
  padding: 30px;
  padding-bottom: 20px;
  border: 2px solid #70a080;
  border-radius: 6px;
  background-color: hsl(170, 77%, 88%);
}

.Weather div .col-6 {
  text-align: center;
}

.Weather form {
  margin-bottom: 18px;
}

.Weather h1 {
  font-weight: bold;
  font-size: 44px;
  line-height: 50px;
  margin: 20px 0 0 0;
}

.Weather img {
  margin-right: -4px;
  position: relative;
}

.Weather li {
  font-size: 18px;
  font-weight: light;
  line-height: 28px;
  list-style: none;
}

.Weather .temperature {
  font-size: 45px;
  color: black;
  font-weight: bold;
  vertical-align: middle;
}

.Weather ul {
  padding: 3px;
  margin: 0 auto;
}

.Weather .unit {
  font-size: 18px;
  color: black;
  position: relative;
  top: -10.5px;
  margin-left: 4px;
}

.Weather .weather-description li {
  font-size: 18px;
  line-height: 8px;
  margin-top: 18px;
  padding-top: 8px;
}
